<!--Add a background image but not working ->
style="background-image: url('{{recipe.image_path}}')"-->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="isLoading" class="text-center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <header *ngIf="recipe" style="background-image: url('{{recipe.image_path}}')">
        <div class="position-relative">
          <h1 class="text-white text-center">{{recipe.name}} </h1>
          <h3 class="my-2 text-white text-center">Created by: <a routerLink="/profile/{{user.username}}">{{recipe.user.username}}</a></h3>
          <div class=" text-white text-center text-center">
            <span class="badge bg-dark mx-2" style="margin-bottom: 2%;">Meal Type: {{recipe.meal.mealType}}</span>
          </div>
          <div class="text-center" *ngIf="user && currentUser && user.username === currentUser.username">
            <app-edit-recipe [recipe]="recipe"></app-edit-recipe> |
            <button class="btn btn-destroy" (click)="onDeleteRecipe()">Delete Recipe</button> |
          </div>
        </div>
      </header>
      <div *ngIf="recipe">
        <p>{{recipe.content}}</p>
      </div>
    </div>
    <div class="col-md-6 rounded" style="padding: 20px; background-color: #F4c09D ;border: 1px solid black">
      <div>
        <h3 class="text-center">Reviews</h3>
        <div class="text-center">
          <app-create-review (addReview)="onAddReview"></app-create-review>
        </div>
          <div style="margin-top: 4%;" *ngFor="let review of reviews">
            <div class="card">
              <div class="card-header">
                <h4>{{ review.user_id}}</h4>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>{{review.comment}}</p>
                </blockquote>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>






