<a class="nav-link active" aria-current="page" routerLink="/home">Back</a>
<div *ngIf="isLoading" class="text-center">
  <app-loading-spinner></app-loading-spinner>
</div>

<div>
  <h1 class="text-black text-center">{{meal?.mealType}}</h1>
</div>


<div *ngFor="let recipe of recipes">
    <div class="row shadow-sm mb-4 rounded">
      <div class="col">
        <h2>{{recipe.name}}</h2>
        <div class="cartd-text mb-auto">
          <p>{{recipe.content}}</p>
        </div>
        <p>
          <a routerLink="/recipes/{{recipe.id}}" class="link-secondary">Continue Reading</a>        </p>

      </div>
      <div class="col-auto d-none d-lg-block">
        <img
          style="object-fit: cover;"
          src="{{recipe.image_path}}"
          alt="{{recipe.name}}"
          width="200px"
          height="200px">
      </div>
    </div>
</div>

