nav{
  color:rgb(255, 255, 255) !important;
  background-color: rgb(0, 0, 0) !important;
  border-bottom: 1px solid rgb(167, 166, 166);
  margin-bottom: 1rem;
  padding-bottom: 1 rem;
}

a{
  color: white;
}
