<header *ngIf="profileUser" id="userHeader" class="text-center rounded" style="background-color: #FF6F3D;">
  <div *ngIf="isLoading" class="text-center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="col-md-6 d-flex align-items-center justify-content-center">
    <img
      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png"
      alt=""
      width="100px"
      class="rounded-circle">
      <h1 style="padding-bottom: 2rem; padding-top: 2rem; margin-left: 4%;">{{profileUser.username}}'s Recipes</h1>
  </div>
</header>
<div style="margin-bottom: 2%; margin-top: 2%;">
  <app-create-recipe *ngIf="currentUser && currentUser.username === profileUser.username"></app-create-recipe>
</div>

<div *ngIf="profileUser" class="container">
  <div class="d-flex flex-wrap justify-content-center">
      <div style="cursor: pointer;" *ngFor="let recipe of profileRecipes" routerLink="/recipes/{{recipe.id}}">
        <div class="card card-spaced shadow-sm" style="width: 18rem;">
          <img src="{{recipe.image_path}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-text">{{recipe.name}}</h3>
          </div>
        </div>
      </div>
  </div>
</div>



